<h1>Welcome to Title Case</h1>
  <form action="/title">
    <div class="form-group">
       <label for="title">Change case</label>
       <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-primary">Send</button>
  </form>
